<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus</title>
    <link rel="stylesheet" href="/css/main.css">;
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main_header__item-list">
                <li class="main_header__item"><a href="/">Shop</a></li>
                <li class="main_header__item"><a  href="/admin/add-product">add product</a></li>
                <li class="main_header__item"><a class="active" href="/contactus">contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="product-form">
            <h2>BOOK A CALL</h2>
            <form action="/contactus" method="POST">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-control">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
