<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/shop">shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <h1>My products</h1>
       <p>List of all the products...</p>
       <ul class="product-list" id="productList"></ul>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const productList = document.getElementById("productList");

            // Get the products from localStorage
            let products = JSON.parse(localStorage.getItem("products")) || [];

            // Display the products in the list
            products.forEach(function(product) {
                const li = document.createElement("li");
                li.textContent = product;
                productList.appendChild(li);
            });
        });
    </script>
    
</body>
</html>
